
/*

Purple-blue: 		#14285A
Purble-blue-alpha: 	#2F3C69
Green: 				#0B625A 
Green-alpha: 		#267770
Blue: 				#0093DD
Blue-alpha: 		#009EE0
Magenta: 			#AC033A
Magenta-alpha:		#DA214A

*/

.brown{
	background-color: #C0C174 !important;
}

.caribbean{
	background-color: #009EE0;
}

.pacific{
	background-color: #DA214A;
}

.centered{
	text-align: center;
}

.col{
	padding: 0 !important;
}

.col img{
	max-height: 300px;
}

.confirmacion{
	background-color: #2659b2;
	padding: 40px;
	color: #FFF !important;
	white-space: normal;
	line-height: 30px;
}

.confirmacion .msj{

	font-size: 26px;
}

.confirmacion .submsj{
	position: absolute;
	font-size: 16px;
	bottom: 200px;
	margin-right: 20px;
}

#confirmacion{
	height: 200px;
	background: url('http://farm4.static.flickr.com/3146/3385917252_77c3135572.jpg') no-repeat;
	background-size: cover;
}

.fichatecnica{
	width: 80%;
}

.imagenparque{
	width: 95%;
}

.infoparque{
	padding: 20px !important;
	color: #EAEAEA !important;
	font-size: 14px !important;
	background-color: rgba(255,255,255,0.2);
	position: absolute;
	bottom: 0;
	width: 100%;
}


.infoparque span{
	font-size: 20px !important;
	font-weight: bold;
	text-transform: uppercase;
}

#logoparques{
	width: 40%;
	display:block;
    margin: 0 auto;
}

.my-thumbnail{
	padding: 0 !important;	
	padding-left: 8px !important;
}

.my-thumbnail img{
	max-height: 300px;
}

.mytitle{
	font-weight: bolder;
}

.item-divider{
	background: #d7d9a8;
}

.prefix{
	font-size: 14	px !important;
}

.nombreparque{
	font-size: 24px !important;
	font-weight: bold;
	text-transform: uppercase;
	white-space: normal;
}

#tituloparque{
	position: absolute;
	color: #FFF !important;
	padding: 20px !important;
	top: 0;
	width: 100%;
}

#footertitulo{
	position: absolute;
	bottom: 0;
	height: 20px;
	width: 100%;
	color: #FFF;
}

video#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background-size: cover;
opacity: 0.8;
}

video#bgvid-original {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background-size: cover;
opacity: 0.5;
}