
<ion-view view-title="Reserva efectuada!">
<div class="bar bar-header bar-balanced">
  <button class="button icon ion-arrow-left-c" onclick="location.href='#/tab/parques'"></button>
  <h1 class="title">Reserva efectuada!</h1>
</div>
  <ion-content class="has-header blue">
  <div class="item" style="padding:0; margin:0; border: 0;">
    <div class="confirmacion centered" style="vertical-align: middle;">
        <div class="msj"><b>Gracias por realizar su reserva en linea</b></div>
        <div class="submsj">Recibirá una confirmacion en su correo electrónico</div>
        <div id="confirmacion">
        </div>
        <button class="button button-balanced pull-right redondeado" 
        onclick="location.href='#/tab/parques'">
        &nbsp;<i class="icon ion-arrow-left-c">&nbsp;&nbsp;Regresar&nbsp;&nbsp;</i>
        </button>
    </div>
  </div>

  </ion-content>
</ion-view>
