
<ion-view view-title="{{parque.name}}">
<div class="bar bar-header bar-balanced">
  <button class="button icon ion-arrow-left-c" onclick="location.href='#/tab/parques'"></button>
  <h1 class="title">{{parque.name}}</h1>
</div>
  <ion-content class="has-header">
  <div class="item" style="padding:0; margin:0;">
    <div id="headerdetail" style="background-image:url({{parque.image}}); background-size: cover; height: 220px;">
      <div id="tituloparque">
        <div class="prefix">{{parque.prefix}}</div>
        <div class="nombreparque">{{parque.name}}</div>
      </div>
    </div>
    </div>
    <div class="item tabs tabs-icon-left {{parque.color}}" 
    style="border: 0  ;">
    <!--
      <a class="tab-item" href="{{parque.url}}" target="_blank">
        <i class="icon ion-ios-world"></i>Web
      </a>
      -->
      <a class="tab-item" ng-click="openurl('{{parque.url}}')">
        <i class="icon ion-ios-world"></i>Web
      </a>
      <a class="tab-item" ng-hide="{{parque.gview.length==0}}" ng-click="openurl('{{parque.gview}}')">
        <i class="icon ion-paper-airplane"></i>Recorrido virtual
      </a>
      <a class="tab-item" href="#/tab/valor">
        <i class="icon ion-cash"></i>Valor ingreso
      </a>
      <a class="tab-item" ng-hide="{{parque.concesion.length!=0}}" href="#/tab/reserva/{{parque.id}}">
        <i class="icon ion-calendar"></i>Reservar
      </a>
      <a class="tab-item" ng-hide="{{parque.concesion.length==0}}" href="#/tab/concesion/{{parque.id}}">
        <i class="icon ion-calendar"></i>Reservar
      </a>
    </div>
    <div class="card" ng-show="{{parque.alojamiento==1 || parque.restaurante==1 || parque.camping ==1}}">
      <div class="item item-text-wrap" style="text-align:center;">
        <img src="img/restaurante.jpg" ng-show="{{parque.restaurante==1}}">
        <img src="img/alojamiento.jpg" ng-show="{{parque.alojamiento==1}}">
        <img src="img/camping.jpg" ng-show="{{parque.camping==1}}">
      </div>
    </div>
    <div class="card" ng-show="{{tarifa != undefined}}">
      <div class="item item-divider">
        Tarifas
      </div>
      <div class="item item-text-wrap">
        Adulto Nacional: {{tarifa.adulto_nacional | currency : '$ ' : 0}}
      </div>
      <div class="item item-text-wrap">
        Niño: {{tarifa.nino | currency : '$ ' : 0}}
      </div>
      <div class="item item-text-wrap">
        Adulto extranjero: {{tarifa.extranjero | currency : '$ ' : 0}}
      </div>
    </div>

    <div class="list card" style="padding:0; margin: 0;">
      <div class="item item-body centered brown" style="padding:0; margin: 0;">
      <div style="text-align:justify; margin: 20px; font-weight: bold; color:#514911;">
              {{parque.desc}}
      </div>
      <img class="fichatecnica" ng-src="{{parque.ficha}}">          
      </div>
    </div>



  </ion-content>
</ion-view>
