<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-bottom tabs-balanced">

  <!-- Dashboard Tab -->
  <ion-tab title="Inicio" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Parques Nacionales" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/parques">
    <ion-nav-view name="tab-parques"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Contactenos" icon-off="ion-ios-telephone-outline" icon-on="ion-ios-telephone" href="#/tab/contacto">
    <ion-nav-view name="tab-contacto"></ion-nav-view>
  </ion-tab>


</ion-tabs>
